section#ceremony {
    position: relative;
    width: 100%;
    padding-top: 120px;
    padding-right: 0;
    padding-bottom: 140px;
    padding-left: 0;
    background-color: transparent;
    /* background-image: url(../img/ceremony.jpg); */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    background-attachment: initial;
}

section#ceremony h1 {
    padding-bottom: 30px;
    font-family: 'Dancing Script',cursive;
    font-size: 85px;
    line-height: 87px;
    font-weight: 700;
    color: #9D9D9D;
    text-shadow: 2px 1px 0 rgba(0,0,0,0.2);
    text-align: center;
}

section#ceremony h3 {
    position: relative;
    font-family: 'EB Garamond',serif;
    font-size: 18px;
    line-height: 20px;
    font-weight: 400;
    color: grey;
    text-align: center;
    text-transform: capitalize;
    letter-spacing: 5px;
    text-shadow: 2px 1px 0 rgba(0,0,0,0.25);
}

section#ceremony h3:before {
    content: "";
    position: absolute;
    z-index: 3px;
    left: 20%;
    top: 50%;
    height: 2px;
    width: 20%;
    margin-top: 0;
    background-color: #9D9D9D;
    background-image: none;
    -webkit-background-size: initial;
    -moz-background-size: initial;
    -ms-background-size: initial;
    -o-background-size: initial;
    background-size: initial;
    background-position: top center;
    background-repeat: no-repeat;
    background-attachment: initial;
}

section#ceremony h3:after {
    content: "";
    position: absolute;
    z-index: 3px;
    right: 20%;
    top: 50%;
    height: 2px;
    width: 20%;
    margin-top: 0;
    background-color: #9D9D9D;
    background-image: none;
    -webkit-background-size: initial;
    -moz-background-size: initial;
    -ms-background-size: initial;
    -o-background-size: initial;
    background-size: initial;
    background-position: top center;
    background-repeat: no-repeat;
    background-attachment: initial;
}

section#ceremony h2 {
    padding-top: 20px;
    font-family: 'Raleway',sans-serif;
    font-size: 120px;
    line-height: 122px;
    font-weight: 900;
    color: #a4c956;
    text-shadow: 8px 7px 0 rgba(164,201,86,0.35);
    text-align: center;
}

section#ceremony h4 {
    font-family: 'EB Garamond',serif;
    font-size: 30px;
    line-height: 24px;
    font-weight: 400;
    color: #9d9d9d;
    text-align: center;
    text-transform: capitalize;
    letter-spacing: 8px;
    margin-top: 70px;
    /* text-shadow: 2px 1px 0 rgba(0,0,0,0.4); */
}